body {
	background-color: black;
}



#game-wrapper {
    max-width: 960px;
	margin: auto;
	background-color: transparent;
	position: relative;
}

#header {
	width: 960px;
	float: left;
	text-align: center;
	font-size: 50px;
	padding: 5% 0 5% 0;
}

#game-header {
	margin: auto;
	text-align: center;
	width: 350px;

}

#message {
	width: 70%;
	padding: 5% 5% 5% 5%;
	color: black;
	font-size: 30px;
	background-color: white;
	border: none;
	border-radius: 10px;
	position: relative;
	margin-top: 5%;
}

#play-again{
	display: none;
	text-align: 
}

#play-again button {
	width: 200px;
	color: white;
	font-size: 20px;
	background-color: purple;
	border: none;
	border-radius: 10px;
	margin-top: 20px;
	
}
#ttt {
	width: 600px;
	height: 600px;
	margin: auto;
	
}

.box {
	float: left;
	width: 198px;
	height: 200px;
	margin: auto;
	background-color: transparent;
	font-size: 180px;
	text-align: center;
	pointer-events: none;
	color: white;

}

#a1 {
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

#a2 {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

#a3 {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

#b1 {
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

#b2 {
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
}

#b3 {
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

#c1 {
	border-top: 1px solid white;
	border-right: 1px solid white;
}

#c2 {
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

#c3 {
	border-top: 1px solid white;
	border-left: 1px solid white;
}

.winner {
	background-color: green;
	color: white;
}

.winner-two {
	background-color: blue;
	color: white;
}

.num-player button {
	width: 120px;
	padding: 5px 5px;
	background-color: #white;
	font-size: 18px;
	border-radius: 10px;
	color: black;
	text-align: center;
	float: right;
	margin-right: 5px;

}



